<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Results</title>
</head>
<body>
	<h1>Results</h1>
	<div>
		<p>Your equation is: <%= X %> <%= Op %> <%= Y %> = <%= Z %></p>
	</div>
</body>
</html>