<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Price</title>
</head>
<body>
	<h1> Package Price </h1>
	<div>
		<p>The price for your package is $<%= price %></p>
	</div>
</body>
</html>